[33mcommit 10d7519b8dffe329e9100681cbee74c0317c88a4[m[33m ([m[1;36mHEAD -> [m[1;32mdev[m[33m, [m[1;31morigin/dev[m[33m)[m
Author: RM <regina.avelinof@alumno.buap.mx>
Date:   Mon Sep 18 04:41:48 2023 -0600

    Hoja de estilos modificacion

[33mcommit 6075d1eb5fda59fbdbd0cefb40de128608aed796[m
Author: RM <regina.avelinof@alumno.buap.mx>
Date:   Wed Sep 13 23:09:00 2023 -0600

    elementos index modificados

[33mcommit 6efcad4467d235b6919a7c071b7d2c228d1b99b3[m
Author: RM <regina.avelinof@alumno.buap.mx>
Date:   Wed Sep 13 22:40:05 2023 -0600

    elementos index cargados

[33mcommit 0c7a295e0e1995ab8bfe10932e2fa6f5faf99518[m
Author: RM <regina.avelinof@alumno.buap.mx>
Date:   Wed Sep 13 22:39:16 2023 -0600

    index modificado

[33mcommit f68934478f0c12e990be32771ed8d85469f41a71[m
Author: RM <regina.avelinof@alumno.buap.mx>
Date:   Wed Sep 13 21:55:38 2023 -0600

    index cargado

[33mcommit a2c2a7beadeb8709130649ef72c07bf131709aba[m
Author: RM <regina.avelinof@alumno.buap.mx>
Date:   Wed Sep 13 21:29:22 2023 -0600

    wireframes cargados

[33mcommit cf2711a229a77eeae8d8a30c7295fb2b53a96082[m
Author: RM <regina.avelinof@alumno.buap.mx>
Date:   Tue Sep 5 12:56:59 2023 -0600

    Ejercicio 1 terminado

[33mcommit 5885135bd138ebd85d0f1ddb536d1ce5e044df6a[m[33m ([m[1;31morigin/master[m[33m, [m[1;31morigin/HEAD[m[33m, [m[1;32mmaster[m[33m)[m
Author: RM <regina.avelinof@alumno.buap.mx>
Date:   Fri Aug 25 02:51:25 2023 -0600

    archivos tecnologia 1 y 2 .txt frontend cargados

[33mcommit a5e82831c046f8fd40d75892db5f1b557070cedb[m
Author: RM <regina.avelinof@alumno.buap.mx>
Date:   Fri Aug 25 02:21:20 2023 -0600

    imagen 02 cargado*

[33mcommit 55ab29f5daeee5b5ae5406b4cf10d9d2ba3c64fc[m
Author: RM <regina.avelinof@alumno.buap.mx>
Date:   Fri Aug 25 02:18:02 2023 -0600

    imagen 01 cargado*

[33mcommit bbd274af3990c53bdf051e9265de57ca53f077ef[m
Author: RM <regina.avelinof@alumno.buap.mx>
Date:   Fri Aug 25 02:10:09 2023 -0600

    imagen 01 cargado

[33mcommit 931a9c15e0ae80ee11ffe70aab76f6221b480d9f[m
Author: RM <regina.avelinof@alumno.buap.mx>
Date:   Thu Aug 24 12:59:31 2023 -0600

    Archivos .txt cargados

[33mcommit b49f3642040b98e1ecac415e5bb25496ac0b6abd[m
Author: RM <regina.avelinof@alumno.buap.mx>
Date:   Thu Aug 24 12:55:54 2023 -0600

    Archivo la_web/estandares/README.md creado

[33mcommit a1fbea1af9deb2662099f2a19d9d671eb1c9a644[m
Author: RM <regina.avelinof@alumno.buap.mx>
Date:   Thu Aug 24 12:51:31 2023 -0600

    Archivo la_web/README.md creado

[33mcommit 3fd26cc30ca90bc582a57a3f92a87d601d42be96[m
Author: RM4862 <141953199+RM4862@users.noreply.github.com>
Date:   Wed Aug 23 21:35:16 2023 -0600

    Initial commit
